{% extends 'AcmeCologBundle::layout.html.twig' %}
{% block body %}

    {% block content %}
        <h2 class="page-header">Vendégek</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Név</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Szerkesztés</th>
                        <th>Törlés</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for guest in guests %}
                    <tr>
                        <td>{{ guest.id }}</td>
                        <td>{{ guest.name }}</td>
                        <td>{{ guest.email }}</td>
                        <td>{{ guest.phone }}</td>
                        <td><a class="btn btn-warning" href="{{ path('_updateGuest') }}?id={{ guest.id }}">Szerkesztés</a></td>
                        <td><a class="btn btn-danger" href="{{ path('_deleteGuest') }}?id={{ guest.id }}">Törlés</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        <a class="btn btn-success" href="{{ path('_addGuest') }}">Új vendég</a>
    {% endblock %}

{% endblock %}
